:root {
  --wp--preset--font-size--medium: 1.05rem;
  --wp--preset--font-size--large: 1.25rem;
  --wp--preset--font-size--x-large: 1.5rem;
  @media (min-width: 500px) {
  --wp--preset--font-size--medium: 1.125rem;
  --wp--preset--font-size--large: 1.75rem;
  --wp--preset--font-size--x-large: 2rem;
  }
  @media (min-width: 768px) {
    --wp--preset--font-size--medium: 1.125rem;
    --wp--preset--font-size--large: 2rem;
    --wp--preset--font-size--x-large: 2.5rem;
  }
  @media (min-width: 960px) {
    --wp--preset--font-size--medium: 1.25rem; //20px;
    --wp--preset--font-size--large: 2.25rem; //36px;
    --wp--preset--font-size--x-large: 2.625rem; //42px;
  }
}
